.topofpage {
  padding-top: 120px; /* NEED TO FIND A BETTER METHOD WITH STICKY NAV BAR, UNRESPONSIVE*/
  height: 400 px;
  width: 100%;
  background-color: #cc8800;
  background-image: url(http://www.transparenttextures.com/patterns/arabesque.png);
}

.images {
  padding: 10px;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.topofpage h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  color:#ffffff
}