.title {
  display: flex;
  align-items: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 50px;
  height: 120px;
  }

  
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: auto;
  background-color: #4056A1;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
color: #ffffff;
}

/* <-----NAV BAR STICKY------->*/
.sticky {
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  position: fixed;
  top: 0px;
  width: 100%;
}

/* <-------MOBILE SPECIFIC FORMATTING ----->*/
@media only screen and (max-width: 500px) {
 
  .title {
    font-size: 30px;
  }
  a {
    font-size: 16px;
  }
}


