form {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  width: 100%;
  margin: 5px;
}

textarea {
  background-color: #f4f1ec;
  border-top:  black;
  border-left: black;
  border-right: black;
  border-width: 5px;
  width: 100%;
  margin: 5px
}


button {
  display: flex;
  justify-content:center;
  font-family: 'Bungee Shade', cursive;
  background-color: #4056A1;
  color: #ffffff;
  margin: 5px
}

.submission {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family:'Bungee Shade', cursive;
  width: 100%;
}

.red {
  color: red;
}