article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid;
  padding: 5px;
}

article header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

article h2.alias {
  color: lightgrey
}

article footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border: none;
}


article p.tweet {
  display: flex;
  justify-content: center;
  align-content: center;
  border-bottom: 5px solid;
  padding: 10px;
}


.hover {
  box-shadow: 10px 10px grey;
  color: #000000 ;
  font-weight: bold;
}


